on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - windows-2019
        - windows-2016
        - ubuntu-20.04
        - ubuntu-18.04
        - macos-11.0
        - macos-10.15
    steps:
    - uses: actions/checkout@v2
    - run: bash ./build.sh
      env:
        NEOMURA_SETUP_AVRA_CLI_ACTION_REPOSITORY: ${{ GITHUB.REPOSITORY }}
        NEOMURA_SETUP_AVRA_CLI_ACTION_REF: ${{ GITHUB.REF }}
    - run: bash ./test.sh
